.about {
  color: $link2;
  background-color: transparent;
  margin-bottom: 40px;
  // background-color: orange;
  @include clearfix();
}
.about-blog {
  float: left;
  width: 48.9%;
  min-height: 220px;
  margin-right: 2.2%;
  border-radius: 15px;
  background: transparent url("../img/bg3@1x.png") no-repeat;
  background-size: 100% 100%;
  padding-left: 20px;
  padding-right: 200px;
  box-sizing: border-box;
}
.about-blog__text {
  margin: 0;
  padding-top: 25px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  font-family: $roboto-medium;
  text-align: left;
}
.about-blog__link {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  font-family: $roboto-bold;
  color: $link2;
  text-align: left;
  padding-bottom: 85px;
  margin-bottom: 85px;
  cursor: pointer;
  &:hover {
    color: $link2-hover;
  }
  &:active {
    color: $link2-active;
  }
}
.about-form {
  position: relative;
  margin: 0;
  border: 0;
  width: 48.9%;
  // padding: 6px 26px;
  padding: 6px 2.2%;
  border-radius: 15px;
  float: right;
  background: url("../img/bg4@1x.png") no-repeat center;
  background-size: 100% 100%;
  box-sizing: border-box;
}

.about-form__desc {
  margin: 0;
  min-height: 61px;
  padding-top: 31px;
  padding-bottom: 34px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  font-family: $roboto-regular;
}
.about-form label {
  font-size: 0;
  position: absolute;
}
.about-form input {
  margin: 0;
  outline: 0;
  width: 65.7%;
  padding: 9px 2%; //2% -10px
  margin-right: 2%; //10
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 24px;
  font-family: $roboto-regular;
  font-weight: 700;
  color: $input-textarea-color;
  background-color: #fff;
  border: 1px solid $border-color;
  border-radius: 5px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  outline: none;
  &::-webkit-input-placeholder {
    color: $input-text-color;
  }
  &:-moz-placeholder {
    color: $input-text-color;
  }
  &:-ms-input-placeholder {
    color: $input-text-color;
  }
  &:hover {
    border-color: $border-color-hover;
  }
  &:focus {
    border-color: $border-color-focus;
    &+label {
      position: absolute;
      top: 112px;
      top: 53%;
      left: 34px;
      font-size: 11px;
      line-height: 13px;
      font-family: $roboto-regular;
      color: #5b9ddf;
    }
    &::-webkit-input-placeholder {
      color: transparent;
    }
    &:-moz-placeholder {
      color: transparent;
    }
    &:-ms-input-placeholder {
      color: transparent;
    }
  }
}
.about-form__btn {
  border: 0;
  display: inline-block;
  vertical-align: top;
  float: right;
  padding: 10px 19px;
  margin-bottom: 10px;
  @include button-background;
  @include button-box-shadow;
  @include button-text-shadow;
  color: $button-textcolor;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: $roboto-bold;
  text-decoration: none;
  border-radius: 100px;
  text-overflow: ellipsis;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
  &:hover {
    color: $button-textcolor;
    @include button-background-hover;
    @include button-box-shadow-hover;
    transition: all 0.8s ease 0s;
  }
  &:active {
    color: $button-textcolor-active;
    @include button-background-active;
    @include button-box-shadow-active;
  }
}
@media #{$retina} {
  .about-blog  {
    background-image: url("../img/bg3@2x.png");
  }
  .about-form  {
    background-image: url("../img/bg4@2x.png");
  }
}
