.about {
  text-align: center;
}
.about__left {
  margin-bottom: 10px;
}
.about__photo {
  @include inline-block($valign: top);
  border-radius: 50%;
  overflow: hidden;
}
.about__photo img {
  display: block;
  max-width: 146px;
  max-height: 146px;
}
.about__title {
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
  font-size: 35px;
  line-height: 1.285; // 45
  font-weight: 500;
  font-family: $firasans-medium;
  text-align: center;
  color: $gray-2;
}
.about__text {
  margin-bottom: 25px;
  & p {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 1.5; // 24
    font-weight: 300;
    font-family: $firasans-light;
    text-align: left;
    color: $gray-4;
  }
}
.about__download {
  text-align: center;
}
.about__download-link {
  @include clearfix();
  @include inline-block($valign: top);
  padding: 8px 25px;
  font-size: 14px;
  font-family: $firasans-bold;
  text-decoration: none;
  border: 2px solid $red-1;
  border-radius: 40px;
  color: $red-1;
  background-color: $bg-2;
  &:hover {
    color: $light-1;
    background-color: $red-1;
  }
  &:active {
  }
  & .about__download-icon {
    display: block;
    float: left;
    line-height: 20px;
    margin-right: 10px;
    margin-left: -12px;
  }
  .about__download-text {
    float: left;
  }
}
@media #{$tablet-point-widths} {
  .about__photo img {
    max-width: 170px;
    max-height: 170px;
  }
  .about__text {
    height: 370px;
    padding: 0 20px;
    margin-bottom: 31px;
    overflow-y: scroll;
    & p {
      font-size: 18px;
      line-height: 1.444; // 26
      margin-bottom: 10px;
    }
  }
}
@media #{$laptop-point-widths} {
  .about {
    @include clearfix();
  }
  .about__left {
    float: left;
    width: 228px;
    margin-right: 20px;
  }
  .about__right {
    float: left;
    width: 480px;
  }
  .about__title {
    margin-bottom: 10px;
    text-align: left;
  }
  .about__text {
    height: 375px;
    overflow: auto;
    padding-left: 0;
    margin-right: 35px;
    margin-bottom: 47px;
  }
  .about__download {
    margin-right: 65px;
    text-align: right;
  }
}
@media #{$desktop-point-widths} {
  .about {
    @include clearfix();
    float: right;
    width: 700px;
  }
  .about__left {
    width: 300px;
    margin-right: 20px;
  }
  .about__photo {
  }
  .about__photo img {
    max-width: 230px;
    max-height: 230px;
  }
  .about__right {
    width: 380px;
  }
  .about__text {
    height: 330px;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .about__download {
    margin-right: 0;
  }
}
