.breadcrumbs {
  max-width: 400px;
  padding-top: 5px;
  margin-top: -30px;
  margin-bottom: 5px;
}
.breadcrumbs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.breadcrumbs__item {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  &:last-child .breadcrumbs__link {
    &::after {
      background: none;
    }
  }
}
.breadcrumbs__link {
  margin: 0;
  position: relative;
  display: block;
  margin-right: 22px;
  padding: 8px 0;
  font-size: 14px;
  line-height: 16px;
  font-family: $roboto-regular;
  text-decoration: underline;
  color: $link;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
}
.breadcrumbs__link {
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: -19px;
    width: 15px;
    height: 15px;
    background: url("../img/icons/icon-arrows.png") no-repeat center;
  }
  &:hover {
    color: $link-hover;
    background-color: transparent;
    transition: background 0.8s ease 0s;
  }
  &:active {
    color: $link-active;
    background-color: transparent;
    transition: none;
  }
  &--active {
    padding: 7px 10px;
    color: $link-nav--active;
    background-color: transparent;
    border-radius: 15px;
    text-decoration: none;
    &:hover {
      color: $link-nav--active-hover;
      background: transparent;
    }
  }
}
