.career__title {
  margin: 0;
  margin-bottom: 6px;
  text-align: center;
  font-size: 35px;
  line-height: 1.285; //45
  font-family: $firasans-medium;
  font-weight: 500;
  color: $gray-2;
}
.career__left {
  text-align: center;
  margin-bottom: 19px;
}
.career__pict {
  @include inline-block($valign: top);
  max-width: 220px;
  max-height: 220px;
}
.career__pict img {
  display: block;
  width: 220px;
  height: 218px;
  background-color: $bg-4;
  border-radius: 9px;
}
.career__list {
  @include ul-reset();
  font-size: 0;
}
.career__item {
  margin-bottom: 18px;
  text-align: right;
  font-size: 0;
  cursor: pointer;
}
.career__block {
  padding: 17px 22px 13px;
  text-align: left;
  font-size: 18px;
  line-height: 1.444; //26
  font-family: $firasans-regular;
  font-weight: 400;
  color: $gray-1;
  background-color: $bg-1;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 1s ease 0s;
}
.career__item:hover  {
  .career__block {
    background-color: $blue-1;
  }
  .career__year {
    color: $blue-1;
    font-weight: 700;
    &:after {
      border-color: $blue-6;
    }
  }
}
.career__item:hover * {
  color: $light-1;
}
.career__suptitle {
  font-size: 18px;
  line-height: 1.444; //26
  font-weight: 400;
  font-family: $firasans-regular;
  color: $gray-3;
}
.career__occupation {
  font-size: 16px;
  line-height: 1.625; //26
  font-weight: 300;
  font-family: $firasans-light;
  color: $gray-1;
}
.career__date {
  font-size: 16px;
  line-height: 1.625; //26
  font-weight: 300;
  font-family: $firasans-light;
  color: $gray-1;
}
.career__year {
  display: none;
}
@media #{$tablet-point-widths} {
  .career__title {
    margin-bottom: 20px;
  }
  .career__left {

  }
  .career__pict {
    max-width: 230px;
    max-height: 230px;
  }
  .career__pict img {
    width: 228px;
    height: 228px;
  }
  .career__item {
    max-width: 438px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
  }
  .career__suptitle {
    font-size: 21px;
    line-height: 1.238;  //26
  }
  .career__occupation,
  .career__date {
    font-size: 18px;
    line-height: 1.444; //26
  }
}
@media #{$laptop-point-widths} {
  .career {
    @include clearfix();
  }
  .career__title {
    text-align: left;
  }
  .career__left {
    float: left;
  }
  .career__right {
    width: 438px;
    float: right;
  }
  .career__item {
    @include inline-block($valign:top);
    float: right;
    margin-left: auto;
    margin-right: 0;
  }
  .career__block {
    position: relative;
    width: 356px;
    padding: 15px 20px;
    box-sizing: border-box;
    z-index: 1;
    &:after, &:before {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      background-color: $bg-5;
      left: -23px;
    }
    &:after {
      bottom: -22px;
      top: 50%;
    }
    &:before {
      bottom: 50%;
      top: 0;
    }
  }
  .career__item:first-child {
    .career__block {
      &:before {
        width: 0;
      }
    }
  }
  .career__item:last-child {
    .career__block {
      &:after {
        width: 0;
      }
    }
  }
  .career__suptitle {
    font-size: 21px;
    line-height: 1.238; //26
  }
  .career__year {
    display: block;
    position: absolute;
    top: 50px;
    left: -73px;
    font-size: 18px;
    font-family: $firasans-light;
    &:after {
      content: "";
      position: absolute;
      top: 1px;
      right: -26px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $blue-1;
      border: 5px solid $light-2;
      z-index: 5;
    }
  }
  .career__item:hover  {
    .career__year {
      font-weight: 700;
      &::after {
        border-color: $blue-6;
      }
    }
  }
}
@media #{$desktop-point-widths} {
  .career {
    width: 700px;
    float: right;
  }
  .career__pict img {
    width: 220px;
    height: 220px;
  }
  .career__block {
    width: 380px;
  }
}
