.container {
  max-width: $desktop-max-widths;
  margin: 0 auto;
  padding: 0 2.3%;

  @media #{$tablet-widths} {
    width: $tablet-max-widths;
    margin: 0 auto;
    padding: 0 2.3%;
  }

  @media #{$phone-widths} {
    width: $phone-max-widths;
    margin: 0 auto;
    padding: 0 2.3%;
  }
}
// – Внутренние отступы слева и справа для обоих страницы — по 2.3% от ширины всей контентной области.
// - Отступы между колонками сетки одинаковые — по 2.2% от ширины всей контентной области.
