.discount {
  color: #fff;
  background-color: transparent;
  margin-bottom: 40px;
}
.discount__list {
  margin: 0;
  padding: 0;
  list-style: none;
  @include clearfix();
}
.discount__item {
  width: 48.9%;
  margin-right: 2.2%;
  border-radius: 15px;
}
.discount__item {
  &:nth-child(2n-1) {
    float: left;
    background: transparent url("../img/bg1@1x.png") no-repeat center;
    background-size: 100% 100%;
  }
  & .discount__title {
    margin: 0;
    padding: 20px;
    color: $link;
    font-size: 35px;
    line-height: 41px;
    font-family: $roboto-bold;
  }
  & .discount__text {
    margin: 0;
    padding: 0 20px;
    margin-bottom: 45px;
    color: $link;
  }
  & .discount__btn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-right: 22px;
    margin-bottom: 23px;
    padding: 11px 23px;
    @include button-background;
    @include button-box-shadow;
    @include button-text-shadow;
    color: $button-textcolor;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-family: $roboto-bold;
    text-decoration: none;
    border-radius: 100px;
    text-overflow: ellipsis;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
    &:hover {
      color: $button-textcolor;
      @include button-background-hover;
      @include button-box-shadow-hover;
      transition: all 0.8s ease 0s;
    }
    &:active {
      color: $button-textcolor-active;
      @include button-background-active;
      @include button-box-shadow-active;
    }
  }
}
.discount__item {
  &:nth-child(2n) {
    float: right;
    margin-right: 0;
    background: transparent url("../img/bg2@1x.png") no-repeat center;
    background-size: 100% 100%;
    & .discount__btn {
      padding: 11px 21px;
    }
  }
}
@media #{$retina} {
  .discount__item {
    &:nth-child(2n-1) {
      background-image: url("../img/bg1@2x.png");
    }
    &:nth-child(2n) {
      background-image: url("../img/bg2@2x.png");
    }
  }
}
