.features {
  color: $base-color;
  background-color: green;
  background: transparent url("../img/bg-vaf@1x.png");
  background-size: 69%;
  border-radius: 15px;
  margin-bottom: 40px;

}
.features__logo {
  margin: 0;
  padding: 0 20px;
  padding-top: 28px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  font-family: $roboto-medium;
  color: $base-color;
  background-color: transparent;
}
.features__list {
  margin: 0;
  padding: 0 20px;
  font-size: 0;
}
.features__item {
  margin: 0;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 48.9%;
  margin-right: 2.2%;
  padding-left: 57px;
  list-style: none;
  font-size: 16px;
  box-sizing: border-box;
  &:nth-child(2n) {
    margin-right: 0;
  }
}
.features__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 47px;
  height: 47px;
  &--icecrem {
    background: transparent url(../img/icons/icon-icecream.svg) no-repeat;
  }
  &--cow {
    background: transparent url(../img/icons/icon-cow.svg) no-repeat;
  }
  &--leaflet {
    background: transparent url(../img/icons/icon-leaflet.svg) no-repeat;
  }
  &--thermo {
    background: transparent url(../img/icons/icon-thermo.svg) no-repeat;
  }
  & .svg-icon-icecream  {
    fill: transparent;
    stroke: #323232;
  }
}
.features__text {
  margin: 0;
  margin-bottom: 15px;
  padding-top: 15px;
  font-family: $roboto-regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $base-color;
  background-color: transparent;
}
@media #{$retina} {
  .features {
    background-image: url("../img/bg-vaf@2x.png");
  }
}
