.filter-sort__title {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  padding-left: 16px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  font-family: $roboto-medium;

}
.filter-sort {
  max-width: 194px;
  float: left;
  margin-right: 16px;
  margin-bottom: 10px;
}
.filter-sort {
  & select {
    position: relative;
    outline: 0;
    border: 0;
    display: inline-block;
    vertical-align: top;
    padding: 6px 13px;
    font-size: 16px;
    line-height: 18px;
    font-family: $roboto-medium;
    font-weight: 500;
    color: $link;
    border-radius: 15px;
    background-color: rgba(255,255,255,.2);
    // отменяем стандартное отображение select'а
    // -webkit-appearance: none;
    //  -moz-appearance: none;
    //  -ms-appearance: none;
    // appearance: none;
    // appearance: none!important;
    // text-indent: 0.01px;
    // text-overflow: "";
    // background-image: ("../img/icons/icon-select-marker-white.svg");
    // background-repeat: no-repeat;
    // background-position: right center;
    // &::-ms-expand {
    //   display: none;
    // }
    &:hover {
      color: $link2;
      background-color: #fff;
    }
  }
}
.filter-sort {
  & option {
    border: 0;
    font-size: 14px;
    line-height: 16px;
    font-family: $roboto-regular;
    font-weight: 500;
    color: $link2;
    background-color: transparent;
  }
}
