.filter-custom {
  max-width: 218px;
  float: left;
  margin-right: 16px;
  margin-bottom: 10px;
  color: $link;
}
.filter-custom__range {
  position: relative;
  max-width: 218px;
  height: 16px;
  margin-bottom: 6px;
  color: #fff;
  background-color: transparent;
  padding-left: 15px;
}
.filter-custom__range {
  & span {
    &:first-child {
      &::after {
        content: "";
        position: absolute;
        top: 7px;
        right: 88px;
        width: 7px;
        height: 2px;
        background-color: #fff;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.filter__price-field {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: inline-block;
  vertical-align: top;
  width: 30px;
  font-size: 14px;
  line-height: 16px;
  font-family: $roboto-medium;
  font-weight: 500;
  color: $link;
  background-color: transparent;
  text-align: center;
  box-sizing: border-box;
  border-radius: 0;
}


.filter__price,
.filter__currency {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
  font-family: $roboto-medium;
  font-weight: 500;
  color: $link;
}
.filter__currency {
  position: relative;
  margin-right: 12px;
}
.filter-custom__controls {
  position: relative;
  height: 36px;
  padding: 0 15px;
  background-color: rgba(255,255,255,.2);
  border-radius: 15px;
  overflow: hidden;
}
.filter__scale {
  width: 188px;
  margin-top: 16px;
  height: 4px;
  background-color: rgba(255,255,255,.5);
}
.filter__scale {
  & .filter__bar {
    width: 107px;
    height: 4px;
    margin-left: 22px;
    background-color: #f8f7f4;
  }
}
.filter__toggle {
  position: absolute;
  top: 8px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-color: #f8f7f4;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  &--min {
    left: 36px;
  }
  &--max {
    left: 133px;
  }
}
