.footer {
  height: 114px;
  margin-top: -114px;
  position: relative;
  background-color: $bg-3;
}

.footer__copyright {
  padding: 18px 0 15px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5; // 21
  font-family: $firasans-light;
  color: $gray-6;
}
.footer__socials {
}
