.header {
  // min-height: 79px; //временно для сетки
  color: $gray-2;
  background-color: $bg-1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}
.header__inner {
  @include container();
  @include clearfix();
}
.header__top {
  @include clearfix();
  background-color: $bg-1;
}
.header__logo {
  float: left;
  padding-top: 9px;
  // min-width: 220px; // временно для сетки
}
.header__img {
  @include inline-block($valign: top);
  float: left;
  margin-right: 15px;
  border-radius: 50%;
  overflow: hidden;
}
.header__img img {
  width: 60px;
  height: 60px;
}
.header__desc {
  max-width: 140px;
  float: left;
  display: inline-block;
  vertical-align: top;
  padding-top: 15px;
  font-size: 14px; // 14/18
  line-height: 21px; // 21/14
  // font-size: em(14);
  font-weight: 400;
  font-family: $firasans-regular;
  color: $gray-2;
}
@media #{$tablet-point-widths} {
  .header__desc {
    max-width: 275px;
    padding-top: 20px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    font-family: $firasans-light;
  }
}
