.location {
  position: relative;
  z-index: 1;
  margin: 0;
  width: 100%;
  height: 430px;
  background-color: #fff;
  background-image: url("../img/pict/map@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.location__map {
  width: 100%;
  height: 100%;
  border: 0;
}
.no-js {
  .location {
    background-image: url("../img/pict/map@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
// .location__map-point {
//   position: absolute;
//   z-index: 3;
//   top: 132px;
//   left: 270px;
//   width: 218px;
//   height: 142px;
//   background: url(../img/pict/map-point.png);
// }
.location__contacts {
  position: absolute;
  top: 14.65%;
  right: 2.2%;
  padding: 32px 26px;
  width: 302px;
  height: 305px;
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 15px;
  box-sizing: border-box;
}
.location__adress {
  @include clearfix();
  margin-bottom: 20px;
  color: $link2;
}
.location__adress {
  & .location__magazine {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: $roboto-regular;
    float: left;
    margin-bottom: 5px;
  }
  & .location__street {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-family: $roboto-bold;
    float: left;
  }
}
.location__timework {
  @include clearfix();
  margin-bottom: 28px;
  color: $link2;
}
.location__timework {
  & span {
    display: block;
    padding-bottom: 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: $roboto-regular;
  }
  & .location__tell {
    display: block;
    color: $link2;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-family: $roboto-bold;
    text-decoration: none;
    margin-bottom: 3px;
    &:hover {
      color: $link2-hover;
    }
    &:active {
      color: $link2-active;
    }
  }
  & .location__time {
    padding-bottom: 0;
  }
}
.location__feedback {
  border: 0;
  display: inline-block;
  vertical-align: top;
  padding: 10px 23px;
  @include button-background;
  @include button-box-shadow;
  @include button-text-shadow;
  color: $button-textcolor;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: $roboto-bold;
  text-decoration: none;
  border-radius: 100px;
  text-overflow: ellipsis;
  cursor: pointer;
  box-sizing: border-box;
  &:hover {
    color: $button-textcolor;
    @include button-background-hover;
    @include button-box-shadow-hover;
    transition: all 0.8s ease 0s;
  }
  &:active {
    color: $button-textcolor-active;
    @include button-background-active;
    @include button-box-shadow-active;
  }
}
@media #{$retina} {
  .location {
    background-image: url("../img/pict/map@2x.jpg");
  }
}
