.nav {
  margin-bottom: 5px;
  &--no-active {
    .nav__link {
      &--active {
        color: $gray-2;
        font-weight: 400;
      }
    }
  }
  &--portfolio {
    margin-bottom: 17px;
  }
  &--career {
    margin-bottom: 2px;
  }
}
.nav__list {
  @include ul-reset();
  font-size: 0;
  white-space: nowrap;
}
.nav__item {
  @include inline-block($valign: top);
  font-size: 14px;
  word-wrap: break-word;
  &:nth-child(n+2) {
    margin-left: 20px;
  }
}
.nav__link {
  position: relative;
  display: block;
  padding: 10px 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  text-decoration: none;
  font-family: $firasans-regular;
  color: $gray-2;
  cursor: pointer;
  &:hover {
    color: $blue-1;
  }
  &:active {
    font-weight: 700;
  }
  &--active {
    color: $blue-1;
    font-weight: 700;
  }
}
.nav__link {
  & .nav__link-icon{
    display: none;
  }
}
.nav__link-text {
  padding: 0;
  margin: 0;
}
@media #{$tablet-point-widths} {
  .nav {
    margin-bottom: 25px;
    &--no-active {
      .nav__link {
        &--active {
          color: $blue-1;
          font-weight: 700;
        }
      }
    }
    &--portfolio {
      margin-bottom: 0;
    }
  }
  .nav__item {
    &:nth-child(n+2) {
      margin-left: 26px;
    }
  }
  .nav__link {
    @include clearfix();
    font-size: 18px;
    line-height: 1.333;
    & .nav__link-icon{
      @include inline-block($valign: middle);
      float: left;
      line-height: 23px;
      padding-right: 10px;
    }
    & .nav__link-text {
      float: left;
    }
    &:active {
      &::before {
        font-weight: 400;
      }
    }
    &--active {
      &.nav__link:before {
        font-weight: 400;
      }
    }
  }
}
@media #{$laptop-point-widths} {
  .nav {
    &--portfolio {
      margin-bottom: 5px;
    }
  }
}
@media #{$desktop-point-widths} {
  .nav__item {
    display: block;
    &:nth-child(n+2) {
      margin-left: 0;
    }
  }
  .nav__link {
    padding: 13px 25px 7px 0;
    margin-bottom: 0;
    text-align: right;
    box-sizing: border-box;
    border-right: 6px solid transparent;
    &--active {
      border-right-color: $blue-1;
    }
    &:active {
      border-right-color: $blue-1;
    }
    & .nav__link-icon {
      float: none;
    }
    & .nav__link-text {
      float: none;
    }
    & .nav__link-icon{
      @include inline-block($valign: top);
      padding-right: 3px;
      font-size: 19px;
    }
  }
}
