.logo {
  float: left;
  display: block;
  width: 155px;
  height: 63px;
  padding-top: 10px;
  border-bottom: 0;
}
.logo__link {
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}
.logo img {
  max-width: 100%;
  height: auto;
}
