.pagination {
  padding-top: 38px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255,255,255,.3);
  @include clearfix();
}
.pagination__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  white-space: nowrap;
  max-width: 267px;
  float: right;
  padding: 0 22px;
  &::before, &::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 14px;
    top: 50%;
    transform: translate(0, -50%);
  }
  &:before {
    left: 0;
    background: url("../img/icons/icon-arrow-left.svg") no-repeat center;
    opacity: 0.2;
  }
  &::after {
    right: 0;
    background: url("../img/icons/icon-arrow-right.svg") no-repeat center;
  }
}
.pagination__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
  line-height: 0;
  // &:first-child {
  //   background-color: #666;
  // }
}

.pagination__link {
  display: inline-block;
  vertical-align: baseline;
  min-width: 25px;
  padding: 4px 0;
  font-size: 16px;
  line-height: 18px;
  font-family: $roboto-medium;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: $link;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    background-color: rgba(255,255,255,.2);
    border-radius: 50%;
    transition: background-color 0.5s ease 0s;
  }
  &:active {
    color: $link2;
    border-radius: 50%;
    background-color: #fff;
  }
  &--current {
    color: $link2;
    border-radius: 50%;
    background-color: #fff;
    &:hover {
      color: $link2;
      border-radius: 50%;
      background-color: #fff;
    }
  }
}
