.sidebar {

}
@media #{$tablet-point-widths} {
  .sidebar {
    margin-bottom: 10px;
    &--portfolio {
      margin-bottom: 5px;
    }
    &--career {
      margin-bottom: 25px;
    }
  }
}
@media #{$laptop-point-widths} {
  .sidebar {
    margin-bottom: 0;
  }
}
@media #{$desktop-point-widths} {
  .sidebar {
    float: left;
    width: 23.4%;
    margin-right: 2.12%;
  }
}
