.socials {
  max-width: 220px;
  font-size: 0;
  text-align: center;
  margin: 0 auto;
}
.social__link {
  @include inline-block($valign: top);
  width: 32px;
  height: 31px;
  margin-right: 6px;
  margin-bottom: 8px;
  font-size: 0;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  &:last-child {
    margin-right: 0;
  }
  // &--fb {
  //   background-image: url("../img/icons/icon-fb@1x.png");
  //   // background-position: 0;
  // }
  // &:hover {
  //   &.social__link--fb {
  //     background-image: url("../img/icons/icon-fb-hover@1x.png");
  //   }
  // }
}
@each $item in (fb, vk, tv) {
  .social__link {
    &--#{$item} {
      background-image: url("../img/icons/icon-#{$item}@1x.png");
      &:hover {
        background-image: url("../img/icons/icon-#{$item}-hover@1x.png");
      }
    }
  }
}
@media #{$retina} {
  @each $item in (fb, vk, tv) {
    .social__link {
      &--#{$item} {
        background-image: url("../img/icons/icon-#{$item}@2x.png");
        &:hover {
          background-image: url("../img/icons/icon-#{$item}-hover@2x.png");
        }
      }
    }
  }
}
@media #{$tablet-point-widths} {
  .social__link {
    margin-bottom: 0;
  }

}
