.socials {
  @include ul-reset();
  max-width: 220px;
  font-size: 0;
  text-align: center;
  margin: 0 auto;
}
.social__item {
  @include inline-block($valign: top);
  margin-right: 6px;
  margin-bottom: 8px;
  font-size: 0;
}
.social__link {
  position: relative;
  display: block;
  width: 32px;
  height: 31px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  &:last-child {
    margin-right: 0;
  }
  &--vk, &--fb, &--github, &--tv {
    & svg {
      fill: #9c9c9c;
    }
  }
  &:hover {
    opacity: 1;
    transform: scale(1.07);
    transition: transform .5s;
    & svg {
      fill: #5d99c3;
      transition: fill .5s, transform .5s;
    }
  }
}

@media #{$tablet-point-widths} {
  .social__link {
    margin-bottom: 0;
  }
}
