.supnav {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 60px;
  left: 5px;
  width: 144px;
  background-color: $bg-supnav;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
.supnav__item {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
}
.supnav__item {
  &:first-child {
    & .supnav__link {
      position: relative;
      z-index: 5;
      font-weight: 700;
    }
  }
}
.supnav__item:first-child .supnav__link  {
  &::after {
    content: "";
    position: absolute;
    width: 128px;
    height: 1px;
    top: 31px;
    left: 6px;
    border-bottom: 1px solid rgba(0,0,0,.2);
  }
}
.supnav__link-wrapper {
  border-bottom: 1px solid rgba(0,0,0,.2);
}
.supnav__link {
  position: relative;
  display: block;
  margin: 0;
  padding: 8px 22px;
  padding-left: 20px;
  color: $link-supnav;
  background-color: $bg-supnav;
  font-size: 14px;
  line-height: 16px;
  font-family: $roboto-regular;
  text-decoration: none;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
  &:hover {
    background-color: $bg-supnav-hover;
    transition: background 0.5s ease 0s;
    border-radius: 0;
  }
  &:active {
    background-color: $bg-supnav-active;
    transition: none;
  }
}
.supnav__link--active {
  color: $link-supnav-onpage;
  background-color: $bg-supnav-onpage;
  border-radius: 0;
  &:hover {
    color: $link-supnav-onpage-hover;
    background-color: $bg-supnav-onpage-hover;
  }
}
