.bottom-line {

}
.timework {
  display: block;
  max-width: 200px;
  margin-left: auto;
  font-size: 16px;
}
.timework span,
.timework__tell {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-family: $roboto-bold;
  color: $link;
  font-weight: 700;
  margin-bottom: 5px;
  text-align: right;
}
.timework__tell {
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
  margin-bottom: 0;
}
