.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  background-color: $bg-2;
  &::after {
    content: "";
    display: block;
    height: 114px;
  }
  &--hello {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $bg-2;
    background-image: url("../img/bg/bg3@1x.png");
    text-align: center;
    &::before {
      content: "";
      @include inline-block($valign: middle);
      height: 100%;
      width: 0;
    }
    @media #{$retina} {
      background-image: url("../img/bg/bg3@2x.png");
      background-size: 320px auto;
    }
  }
}
@media #{$tablet-point-widths} {
  .wrapper {
    &::after {
      height: 94px;
    }
  }
}
@media #{$laptop-point-widths} {
  .wrapper {
    &::after {
      height: 49px;
    }
  }
}
