.wrapper-inner {
  background-color: $bg-2;
  color: $gray-2;
  padding-bottom: 30px;
  &--portfolio {
    padding-bottom: 27px;
  }
  &--career {
    padding-bottom: 0;
  }
}
@media #{$tablet-point-widths} {
  .wrapper-inner {
    padding-bottom: 90px;
    &--portfolio {
      padding-bottom: 0;
    }
    &--career {
      padding-bottom: 0;
    }
    &--hello {
      padding-bottom: 0;
    }
  }
}
@media #{$laptop-point-widths} {
  .wrapper-inner {
    padding-bottom: 50px;
    &--portfolio {
      padding-bottom: 0;
    }
    &--hello {
      padding-bottom: 0;
    }
    &--hello {
      padding-bottom: 0;
    }
  }
}
@media #{$desktop-point-widths} {
  .wrapper-inner {
    padding-bottom: 72px;
  }
}
