
/* Шрифты */
/* font-family: "RobotoRegular"; */
@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/roboto-regular.woff") format("woff"),
	url("../fonts/RobotoRegular/roboto-regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
	font-family: "RobotoMedium";
	src: url("../fonts/RobotoMedium/roboto-medium.woff") format("woff"),
	url("../fonts/RobotoMedium/roboto-medium.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/RobotoBold/roboto-bold.woff") format("woff"),
	url("../fonts/RobotoBold/roboto-bold.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}
