/*Общие стили*/
html {
  width: 100%;
  height: 100%;
}
body {
  min-width: 320px;
  width: 100%;
  height: 100%;
  margin: 0;
  color: $color-gray-1;
  background-color: $bg-color-1;
  font-size: 16px;
  line-height: 22px;
  font-family: $roboto-regular;
  font-weight: 400;
}
input {
  color: $color-gray-1;
  background-color: white;
  border: 1px solid $color-gray-2;
  font-size: 16px;
  line-height: 24px;
  font-family: $roboto-regular;
  border-radius: 5px;
  &::-webkit-input-placeholder {
    color: $color-gray-3;
  }
  &:-moz-placeholder {
    color: $color-gray-3;
  }
  &:-ms-input-placeholder {
    color: $color-gray-3;
  }
}
input:hover {
  color: $color-gray-1;
  border: 2px solid $color-gray-2;
}
input:focus {
  // border: 2px solid $color-blue-1;
  &::-webkit-input-placeholder {
    color: transparent;
  }
  &:-moz-placeholder {
    color: transparent;
  }
  &:-ms-input-placeholder {
    color: transparent;
  }
}
input:invalid {
  border-color: #f0b1b1;
}
textarea {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: $roboto-regular;
  color: $color-gray-1;
  background-color: white;
  border: 1px solid $color-green-1;
  &::-webkit-input-placeholder {
    color: $color-gray-2;
  }
  &:-moz-placeholder {
    color: $color-gray-2;
  }
  &:-ms-input-placeholder {
    color: $color-gray-2;
  }
}
textarea:hover {
  color: $color-green-1;
}
textarea:focus {
  color: $color-green-1;
}
textarea:invalid {
  color: #f0b1b1;
}

img {
  max-width: 100%;
  height: auto;
}
