/* миксины*/
@mixin clearfix() {
  &::before,
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
/*Плейсхолдер*/
%clearfix {
  &::before, &::after {
    content: "";
    display: block;
    clear: both;
  }
}
@mixin container() {
  width: 940px;
  width: $desktop-max-widths;
  margin: 0 auto;
  padding: 0 10px;

}
@mixin container() {
  width: $phone-inner-widths; //300
  margin: 0 auto;
  padding: 0 10px;

  @media screen and #{($tablet-point-widths)}{
    width: $tablet-inner-widths; //480
    padding: 0;
  }
  @media screen and #{($laptop-point-widths)} {
    width: $laptop-inner-widths; //768
    padding: 0 20px;
  }
  @media screen and #{($desktop-point-widths)} {
    width: $desktop-inner-width; //940
    padding: 0;
  }
}

@mixin ul-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin inline-block($valign: top) {
  display: inline-block;
  vertical-align: $valign;
}

@mixin visually-hidden  {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin visually-view  {
  position: static;
  width: auto;
  height: auto;
  margin: auto;
  padding: auto;
  border: auto;
  clip: none;
  overflow: auto;
}

@function em($target, $context: $font-size-base) {
 @if $target == 0 {
   @return 0;
 }
 @return $target / $context + em;
}

@media #{$retina} {
  .selector {
  }
}
// @media #{$retina} {
//   .about-blog  {
//     background-image: url("../img/bg3@2x.png");
//   }
//   .about-form  {
//     background-image: url("../img/bg4@2x.png");
//   }
// }



@mixin absolute-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@mixin placeholder($color: #000) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}
@mixin cover() {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
