/*Переменные*/

/* переменные цветом и типографики*/

/*Шрифты*/
$firasans-regular: "FiraSansRegular", "Arial", sans-serif;
$firasans-light: "FiraSansLight", "Arial", sans-serif;
$firasans-medium: "FiraSansMedium", "Arial", sans-serif;
$firasans-bold: "FiraSansBold", "Arial", sans-serif;

/*Цвета, фон*/
$gray-1:#727272;
$gray-2:#414141;
$gray-3:#5a5a5a;
$gray-4:#646464;
$gray-6:#9c9c9c;

$light-1:#fff;
$light-2:#f6f6f6;
$light-3:#aeaeae;

$blue-1:#33c1e3;
$blue-2:#5d99c3;
$blue-3:#4463a6;
$blue-4:#6ac4d9;
$blue-5:#4db2ce;
$blue-6:#94e0f2;

$red-1:#e85f61;

$bg-1: #fff;
$bg-2: #f6f7f2;
$bg-3: #414141;
$bg-4: #5a5a5a;
$bg-5: #ddd;

/*размер шрифта*/
$font-size-base: 18px;
$lin-height-base: 26px/$font-size-base;

/*брейкпоинты*/
$desktop-point-widths: "(min-width: 1200px)";
$laptop-point-widths: "(min-width: 868px)";
$tablet-point-widths: "(min-width: 520px)";

/*макс-ширина на устройствах*/
$desktop-max-widths: 1200px;
$laptop-max-widths: 992px;
$tablet-max-widths: 768px;

/*ширины контейнера*/
$desktop-inner-width: 940px;
$laptop-inner-widths: 728px;
$tablet-inner-widths: 480px;
$phone-inner-widths: 93.75%;

/*Ретина*/
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
